{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col">
        <form action="{% url 'add' %}" method="post">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="form-group row">
                    <div class="col-sm-2 text-right">
                        <b>{{ field.label }}:</b>
                    </div>
                    <div class="col-sm-10">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-block">Добавить</button>
        </form>
    </div>
</div>
{% endblock %}