{% load static %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'images/logo.png' %}" width="32" height="32" alt="">
        DangerHome
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            {% if request.user.is_authenticated %}
            <li class="form-inline"><a class="btn btn-outline-primary" href="{% url 'add' %}">Добавить новость</a></li>
            {% endif %}
            <li class="nav-item"><a class="nav-link" href="{% url 'feed' %}">Список новостей</a></li>
            {% if request.user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'search' %}">Поиск новостей</a></li>
            {% endif %}
            <li class="nav-item"><a class="nav-link" href="{% url 'yacalc' %}">Продвинутый калькулятор</a></li>

        </ul>

        <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
                <span class="navbar-text">
                    Здравствуй, {{ request.user.username }}!
                </span>
                <li class="nav-item active"><a class="nav-link" href="{% url 'logout' %}">Выйти</a></li>
            {% else %}
                <li class="nav-item dropdown dropdown-menu-right">
                    <a class="btn btn-outline-primary my-2 my-sm-0 dropdown-toggle" href="#" id="navbarDropdown"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Авторизация</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        {% include 'login.html' %}
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
    </div>
</nav>